.rarity, .event {
    text-align: left;
    display: flex;
    margin: 1.5rem;
    font-size: 20px;
    background-color: transparent;
    text-transform: uppercase;
  }
  
  .rarityBtn, .eventBtn {
    margin-left: 15px;
    background-color: rgba(158, 200, 255, 0.9);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    color:rgb(17, 8, 94);
    font-weight: bold;
  }