.header {
    height: 65vh;
    background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(90, 140, 247, 0.6)), to(rgba(76, 63, 255, 0.6))),url("https://d500.epimg.net/cincodias/imagenes/2018/08/27/smarttv/1535367133_945340_1535367290_noticia_normal.jpg");
    @include bkg-cover-fixed;
  }
  
  .heading {
    color:black;
    display:flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    line-height: 1.5;
    transform: translate(-50%, -50%);
  }
  
  .title {
    font-size: 8rem;
    font-weight: 500;
  }

  .nav-bar {
    height: 7vh;
    background-color: rgba(127, 182, 255, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
  }
  
  .nav-btns {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    font-weight: 400;
    font-size: 4rem;
    justify-content: space-evenly;
    width: 45vw;
  }
  
  .nav-btn:hover {
    text-decoration: underline;
    color: rgb(0, 5, 68);
  }