.searchBody {
  background-color: rgba(190, 255, 204, 0.581);
  display: flex;
  flex-direction: row;
  border-color: rgba(68, 247, 80, 0.459);
  justify-content: space-between;
  align-items: top;
  position: sticky;
  top: 0;
}

/*Search Bar*/
#container {
    width: 70%;
    margin-top: 20px;
    background-color: transparent;
    align-items: right;
}
.search {
    display: flex;
    width: 940%;
    margin-left: 5px;
    margin-top: 20px;
}

#form {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
    width: 940%;
}
.search-bar {
    display: inherit;
    width: 500%;
    padding: 0.5rem 0.5rem;
}
.search-icon {
    height: 20px;
}

/* Brawler Cards Results*/
#search-output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    width: 98.5vw;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 50px;
  }
  
  .info-link {
    font-size: 20px;
    text-decoration: underline;
  }
  .info-link:before {
    content: "Learn more at";
  }
  .info-link:hover {
    color: blue;
  }

  .error-msg {
    font-size: 20px;
    margin-top: 30px;
  }