@import "./header.css";
@import "./filter.css";
@import "./search.css";

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main, #api-output {
  background-color: rgba(170, 228, 255, 0.5);
}

.filter {
  text-decoration: underline;
}